<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Vuetorial</title>
</head>
<body>
	<div class="container">
		<h1>Let's hear some stories!</h1>
		<div>
			<h3>Alex's stories</h3>
			<ul class="list-group">
				<li v-for="story in storiesBy('Alex')" class="list-group-item">
					{{ story.writer }} said "{{ story.plot }}"
				</li>
			</ul>
			<h3>John's stories</h3>
			<ul class="list-group">
				<li v-for="story in storiesBy('John')" class="list-group-item">
					{{ story.writer }} said "{{ story.plot }}"
				</li>
			</ul>
			<h3>Famous stories ({{ famous.length }})</h3>
			<ul class="list-group">
				<li v-for="story in famous" class="list-group-item">
					{{ story.writer }} said "{{ story.plot }}" and upvoted {{ story.upvotes }} times.
				</li>
			</ul>
		</div>
		<pre>
			{{ $data }}
		</pre>
	</div>
</body>
<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script>
	var app = new Vue({
		el: '.container',
		data: {
			stories: [
				{ writer: 'Alex', plot: 'I crashed my car today!', upvotes: 28 },
				{ writer: 'John', plot: 'Yesterday, someone stole my bag!', upvotes: 8 },
				{ writer: 'John', plot: 'Someone ate my chocolate...', upvotes: 51 },
				{ writer: 'Alex', plot: 'I ate someone\'s chocolate!', upvotes: 74 }
			]
		},
		methods: {
			storiesBy: function(writer) {
				return this.stories.filter(story => story.writer === writer);
			}
		},
		computed: {
			famous: function() {
				return this.stories.filter(story => story.upvotes > 25);
			}
		}
	});
</script>
</html>